@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  background-color: black;
  width: 300px;
  height: 400px;
  border-radius: 0.5rem;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}
.imgbox {
  transition: 0.5s;
  height: 80%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.container:hover .imgbox img {
  opacity: 0.4;
  transform: scale(1.1);
}
.sociallinks {
  height: auto;
  position: absolute;
  top: 60%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.sociallinks li {
  list-style: none;
}
.sociallinks li a {
  color: black;
  display: block;
  background-color: #fff;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  border-radius: 50%;
  pointer-events: none;
  cursor: default;
  transform: translateY(140%);
  transition: 0.4s ease;
  opacity: 0;
}
.container:hover .sociallinks li a {
  transform: translateY(25%);
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
.container .sociallinks li a:hover i {
  transition: 0.5s ease-in-out;
  color: rgb(86, 38, 139);
  /* transform: rotateY(360deg); */
}
.container:hover .sociallinks li:nth-child(1) a {
  transition-delay: 0s;
}
.container:hover .sociallinks li:nth-child(2) a {
  transition-delay: 0.2s;
}
.container:hover .sociallinks li:nth-child(3) a {
  transition-delay: 0.3s;
}
.details {
  padding: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 20%;
  align-items: center;
}
.details h2 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
}
.details span {
  color: rgb(86, 38, 139);
  font-size: 1rem;
  font-weight: 600;
}

/* .card {
    width: 90%;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    overflow: hidden;
    text-align: center;
    margin: 15px 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in;
}

.card img {
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    object-fit: cover;
}

.card .contentContainer {
    padding: 12px 10px;
}

.card .contentContainer h1 {
    margin: 10px;
}

.card .contentContainer h2 {
    margin: 7px 0;
    font-size: 16px;
    color: rgb(129, 129, 129);
}

.card .iconsContainer a {
    font-size: 24px;
    margin: 10px;
    color: rgb(129, 129, 129);
    transition: color 0.3s ease;
}

.card .iconsContainer a:hover {
    color: rgb(43, 43, 43);
    transition: color 0.3s ease;
} */
