footer {
  display: flex;
  justify-content: center;
  
  margin: 0 0 0 -5%;
  z-index: 99;
  background-color: rgb(0, 0, 0);
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  max-width: 1500px;
  padding: 30px 0;
  min-height: 50vh;
  color: rgb(255, 255, 255);
  z-index: 99;
}

.footer_heading1 {
  color: #fff;
  font-size: 48px;
  
}

.footerCol {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footerCol img {
  height: 8em;
  width: 7em;
}

.columnOne {
  border-right: 3px dashed grey;
  align-items: center;
  padding-right: 0%;
  width: 100%;
  margin: 0 0 0 0%;
  justify-content: center;
}

svg {
  fill: white;
}

.footerCol .address {
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
}

.footerCol .address img {
  height: 120px;
  margin: 0 15px;
}

.footerCol .address div h1 {
  font-size: 26px;
}

.footerCol .address div p {
  font-size: 16px;
  margin: 0 4px;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.iconsContainer a {
  color: rgb(90, 90, 90);
  font-size: 18px;
  margin: 3px 7px;
}

.iconsContainer a:hover {
  color: #000;
}
.columnTwo {
  color: white;
  margin: 0 0 0 0%;
  text-align: center;
  
}
.quickLinkHeader {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 22px;
  border-bottom: 3px solid grey;
  border-width: 70%;
  padding: 0 0 2% 0;
}
.quickLinkOne {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 5% 0 0 0;
  border-bottom: 1.5px dotted grey;
  padding: 0 0 0.6% 0;
}

.columnThree {
  color: white;
  margin: 0 0 0 -90%;
  text-align: center;
}
.columnFour{
  color: white;
  margin: -70% 0 0 250%;
  width: 80%;
}
.quickLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.quickLink:hover {
  text-decoration: underline;
}

.footer_heading2 {
  color: #f1c40f;
  font-size: 38px;
  margin-bottom: 3%;
}


@media screen and (max-width: 1100px) {
  .columnFour{
    margin-top: -80%;
  }
}
@media screen and (max-width: 980px) {
  .columnFour{
    margin-top: -97%;
  }
  .columnTwo {
    width: 80%;
    margin: 0 0 0 -2%;
  }
}
@media screen and (max-width: 768px) {
  .columnFour{
    margin-top: -130%;
  }
  .footerContainer{
    display: flex;
    flex-direction: column;
  }
  .columnOne{
    margin-left: 80%;
    width: 200%;
    border-right: none;
  }
  .imgLogo{
    display: none;
  }
  .columnTwo{
    margin-left: 30%;
    width: 150%;
    margin-top: 20%;
  }
  .columnThree{
    margin-left: 200%;
    width: 100%;
    margin-top: -168%;
  }
  .columnFour{
    margin-left: 50%;
    width: 200%;
    margin-top: 30%;
  }
}
@media screen and (max-width: 464px) {

  .footer_heading1 {
    font-size: 40px;
    margin-top: 18%;
  }
  .footer_heading2 {
    font-size: 34px;
    
  }
}
