* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.socs {
  width: 100%;
  padding: 0;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.container .card {
  /* padding: 10px; */

  width: 25%;
  height: 100%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.container .card .face {
  height: 250px;
  transition: 0.5s;
  border-radius: 10px;
}

.container .card .face.face1 {
  position: relative;
  /* background: #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(50%);
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);
  border-radius: 1rem;
}

.container .card:hover .face.face1.rg {
  background-image: url("https://images.unsplash.com/photo-1508614589041-895b88991e3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  transform: translateY(25%);
}
.container .card:hover .face.face1.te {
  background-image: url("https://www.globalfocusmagazine.com/wp-content/uploads/2020/02/Engaging_with_technology-scaled.jpg");
  background-size: cover;
  transform: translateY(20%);
}
.container .card:hover .face.face1.sc {
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-e3b4b784f8de5e3832062022d3a807bc");
  background-size: cover;
  transform: translateY(15%);
}
.container .card:hover .face.face1.wf {
  background-image: url("https://c.ndtvimg.com/2021-09/q928ee4o_peace-generic_625x300_20_September_21.jpg");
  background-size: cover;
  transform: translateY(20%);
}
.container .card:hover .face.face1.sg {
  background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/tennis-647_112117022750.jpg?6QEeQ03DDmg.ja7uFYYGAadlCGBZOAHt&size=770:433");
  background-size: cover;
  transform: translateY(20%);
}

.container .card .face.face1 .content {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.container .card .face.face1 .content h3 {
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.9)
  );
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);
  border-radius: 1rem;
}

.container .card:hover .face.face2 {
  transform: translateY(0);
  opacity: 1;
}
.container .card .face.face2 .content a {
  margin: 1rem auto;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 0.5rem;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

/* new */

.card-front {
  height: 100%;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  .container .card {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .container .card {
    width: 75%;
    margin: auto;
  }
}
