.mainContainer section {
    width: 90%;
    max-width: 1300px;
    margin: 3rem auto;
}

.mainContainer section h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    color: #f1c40f;   
}

.aboutUsSection {
    text-align: center;
    padding: 4rem 3rem;
    color: white;
}

.description {
    letter-spacing: 1.5px;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 125%;
}
.categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0rem auto 5rem;
    max-width: 1200px;
}
.categoryHeading {
    font-size: 2rem;
    color: #f1c40f;
    margin-bottom: 2rem;
}
.categoryHeading2 {
    font-size: 2rem;
    color: #f1c40f;
    margin-bottom: 2rem;
}
.categoryHeading1 {
    font-size: 2.2rem;
    color: #f1c40f;
    margin-bottom: -2%;
    margin-top: 0%;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.welcomeSection {
    background-image: url("../../../../images/tsg.jpg");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
}

.welcomeContent {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcomeContent h1 {
    font-size: 3rem;
    font-weight: bolder;
}
