.adminLogo{
    width: 10vw;
    margin: 3vw auto 1vw;
}

.certifGenOptions{
    display: flex;
    width: 55vw;
    margin: 0 auto;
    justify-content: space-between;
}

.optionButton{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20vw;
    background-color: #5EA9FF;
    padding: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonlink{
    text-decoration: none;
}

.optionButton:hover{
    transform: scale(1.05);
}
.optionName{
    color: white;
    font-weight: 600;
    font-size: 1.85vw;
    margin-top: 1vw;
}

.certiftitle{
    color: black;
    font-weight: 600;
    padding-bottom: 2.5vw;
}