:root {
  --sports-card-color: rgb(23, 23, 23);
}

body {
  align-items: flex-start;
  display: flex;
  height: 100vw;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

#sports-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: calc(100vw - 20px);
  justify-content: center;
}

#sports-cards:hover>.sports-card::after {
  opacity: 1;
}

.sports-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 400px;
  /* min-width: 300px; */

}


.sports-card:hover::before {
  opacity: 1;
}

.sports-card::before,
.sports-card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.sports-card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.sports-card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.sports-card>.sports-card-content {
  background-color: var(--sports-card-color);

  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra sports-card content styles ↓ ↓ ↓ -- */

.sports-card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}



.sports-card-info {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0px 20px;
  gap: 10px;
  color: rgb(240, 240, 240);

}

.sports-card-info-title>h4 {
  color: red;
  text-align: center;
}

.live-icon {
  width: 2rem;
  /* Set the width as needed */
  height: 2rem;
  /* Set the height as needed */
  display: inline-block;
  background-size: cover;
}

.sport-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: block;
  padding: auto;
  height: 100px;
  width: 100px;
  /* color: #ffffff; */
  filter: invert(100%);
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media(max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }


  #sports-cards {
    max-width: 1000px;
  }

  .sports-card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .sports-card {
    height: 180px;
    width: 100%
  }



  .sports-card-info-wrapper {
    padding: 0px 10px;
  }


}

@media(max-width: 320px) {
  .sports-card {
    width: 100%;
  }
}
