* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.awards {
  margin: auto;
  padding: 0;
}
.awards .table-container {
  font-size: 1.2rem;
}
.awards .table-container table {
  margin-bottom: 1rem;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(44, 52, 60, 0.6);
}
.awards .table-container th,
.awards .table-container td {
  padding: 1rem;
  padding-right: 0.25rem;
  color: #000;
}
.awards .table-container th .medal::before,
.awards .table-container td .medal::before {
  content: " \25CF";
  font-size: 30px;
}
.awards .table-container th .gold,
.awards .table-container td .gold {
  color: gold;
}
.awards .table-container th .silver,
.awards .table-container td .silver {
  color: silver;
}
.awards .table-container th .bronze,
.awards .table-container td .bronze {
  color: #cd7f32;
}
.awards .table-container th {
  text-align: left;
  color: #fff;
}
.awards .table-container thead {
  position: sticky;
  top: 1;
}
.awards .table-container thead th {
  background-color: #e7bd12;
}
.awards .table-container tbody {
  margin-top: 2rem;
}
.awards .table-container tbody tr {
  background-color: #fff;
}
.awards .table-container tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.awards .table-container tbody tr:last-of-type {
  border-bottom: 2px solid #04d6ac;
}
.awards .table-container tbody #overall:first-of-type {
  background-color: hsl(168, 76%, 80%);
}
.awards .table-container tbody td {
  position: relative;
}
.awards .table-container tbody td ul {
  list-style-type: none;
}
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}
select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 18em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn_interiit {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn_interiit:hover,
.btn_interiit:focus {
  color: #fff;
  outline: 0;
}
.btn_interiit {
  border-color: #f1c40f;
  background-color: transparent;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.btn_interiit:hover {
    background-color: #eed2607a;
    color: white;
}

#activeTab {
    /* background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%); */
    background-position: 0 !important;
    /* background-color: #f1c40f !important; */
}



.tabactive .btn_interiit{
  background-color: #f1c40f;
  color: blue;
}



.chart {
  height: 50rem;
}
.GC_dropdown{
  margin-left: 38%;
}
.awards_h2{
  display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 3%;
    align-items: center;
     margin-top: 8%;
      color: #fff ;
}
@media screen and (max-width: 768px) {
  .GC_dropdown{
    margin-left: 0%;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .awards_h2{
       margin-top: 22%;
  }
  .btn_interiit{
    font-size: 15px;
  }
}
