@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: black;
}

.aboutUsSection {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 3rem;
  background-color: #2a2b2f;
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);
  border-radius: 1rem;
  color: white;
  width: 90%;
  max-width: 1200px;
  z-index: 2;
}

.description {
  letter-spacing: 1.5px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 125%;
  align-items: center;
  width: 110%;
}

.heading{
  font-size: 48px;
  padding-bottom: 10px;
}
