.title {
    text-align: center;
    color: #dab834;
    font-size: 3rem;
    margin: 0;
}

@media screen and (max-width:768px){
    .filters{
        width:90vw;
        padding: 0.25rem 0.5rem;
    } 
}

@media screen and (min-width:769px) and (max-width:1024px){
    .filters{
        width: 70vw;
        padding: 0.25rem 0.75rem;
    }
}

@media screen and (min-width:1024px) and (max-width:1400px){
    .filters{
        width:60vw;
        padding: 0.25rem 0.25rem;
    }
}

@media screen and (min-width:1400px){
    .filters{
        width: 45vw;
    }
}
.filters {
    background-color: #1E1E1E;
    margin: 1rem auto;
    border-radius: 0.80rem;
    display: flex;
    justify-content: space-between;
}

.normal {
    background-color: #1E1E1E;
    border: none;
    color: white;
    font-size: 1.25rem;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
}

.active{
    background-color: #dab834;
    border: none;
    border-radius: 1rem;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
}

.matchContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}