body {
  overflow-x: hidden;
}
.contactsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pageHeading {
  font-size: 2rem;
  text-align: center;
}
.maincontainer {
  display: flex;
  max-height: 90vh;
  width: 100%;
  margin-top: 10vh;
}
.content {
  padding: 2rem;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: scroll;
}
.postHeading {
  font-size: 1.75rem;
  text-align: center;
  margin: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}
.multipleCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: c;
}
.multipleCards > div {
  margin: 1.5rem 1rem;
}
.contactsCircle1 {
  top: 5%;
  right: -2%;
  background-color: white;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 18rem;
  width: 18rem;
  position: absolute;
  border-radius: 10rem;
  z-index: -1;
}
.contactsCircle2 {
  bottom: 0%;
  left: 5%;
  background-color: white;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 18rem;
  width: 18rem;
  position: absolute;
  border-radius: 10rem;
  z-index: -1;
}
.contactsCircle3 {
  top: 15%;
  left: 30%;
  background-color: white;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 10rem;
  z-index: -1;
}
.contactsCircle4 {
  bottom: 5%;
  right: 30%;
  background-color: white;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 10rem;
  z-index: -1;
}
