.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  margin-top: 12vh;
  padding: 1rem;
  color: white;
}
.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
.categoryHeading {
  font-size: 2rem;
  color: #f1c40f;
  margin-bottom: 2rem;
}
.categoryHeading2 {
  font-size: 2rem;
  color: #f1c40f;
  margin-bottom: 2rem;
}
.categoryHeading1 {
  font-size: 2.2rem;
  color: #f1c40f;
  margin-bottom: -2%;
  margin-top: 0%;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

/* Slider */
.events {
  margin: auto;
}

.carousel-caption-bottom {
  font-size: 15px !important;
  color: black !important;
}
.thumbnails img {
  width: 10% !important;
}

@media screen and (max-width: 576px) {
  .categoryHeading2 {
    font-size: 2rem;
    color: #f1c40f;
    margin-bottom: 2rem;
    margin-top: -105%;
  }
}

.highlightsContainer {
  display: flex;
  flex-direction: column;
  background-color: #2a2b2f;
  border-radius: 10px;
  border-color: #f1c40f;
  border-style: solid;
  border-width: 1px;
}

.highlightsContainer a {
  color: #f1c40f;
}

.highlightsContainer a:hover {
  color: #ffd633;
  text-decoration: underline;
  cursor: pointer;
}


.highlightsContainerHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-width: 0;
  border-color: #f1c40f;
  border-style: solid;
  border-bottom-width: 1px;
}

.highlightsContainerHeader .timesIcon {
  font-size: 24px;
}

.highlightsContainerMainHeading {
  display: flex;
  align-items: center;
}

.highlightsContainerMainHeading .bellIcon {
  font-size: 24px;
  margin-right: 10px;
}

.highlightsContainerMainHeading h1 {
  font-size: 28px;
  font-weight: bold;
}

.highlightsContainerBody{
  padding: 20px 50px;
}
