.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  margin-top: 12vh;
  padding: 1rem;
  color: white;
}
.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
.categoryHeading {
  font-size: 2rem;
  color: #3f5efb;
  margin-bottom: 2rem;
}
.categoryHeading2 {
  font-size: 2rem;
  color: #3f5efb;
  margin-bottom: 2rem;
  margin-top: 10%;
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

/* Slider */
.events {
  margin: auto;
}

.carousel-caption-bottom {
  font-size: 15px !important;
  color: black !important;
}
.thumbnails img {
  width: 10% !important;
}
.eventCaro {
  text-align: center;
  max-width: 75%;
  max-height: 600px;
  margin: 40px auto;
  height: 800px;
  margin-bottom: 5%;
}
@media screen and (max-width: 576px) {
  .categoryHeading2 {
    font-size: 2rem;
    color: #3f5efb;
    margin-bottom: 2rem;
    margin-top: -105%;
  }
}
