.events {
  margin: auto;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  margin-top: 12vh;
  padding: 1rem;
  color: white;
}
.carousel-caption-bottom {
  font-size: 15px !important;
}
.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.categoryHeading {
  font-size: 2rem;
  color: #3f5efb;
  margin: 0 0 0 0;
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.thumbnails img {
  width: 10% !important;
}
/* Slider */
