.contactsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.maincontainer {
  padding-top: 8vh;
}
.postHeading {
  font-size: 1.75rem;
  text-align: center;
  margin: 1.5rem;
}
.multipleCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: c;
}
.multipleCards > div {
  margin: 1.5rem 1rem;
}
