.mainContainer {
  margin-top: 11vh;
}

h1 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  color: hsl(207, 70%, 71%);
}
h1.committeeHeading {
  color: white;
}
section {
  width: 90%;
  max-width: 1200px;
  margin: 3rem auto;
}
section h2 {
  text-align: center;
  /* font-size: 2rem;  PAHLE CLASSNAME DEFINE KAR LE, TAB CSS DEFINE KAR...BAHUT JAGAH CHANGE HO JA RHI HAI */
  /* margin-bottom: 2rem;
  letter-spacing: 2px; */
  /* color: #f1c40f; */
}
section .description {
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 125%;
  padding: 0rem 2rem;
}
.imgContainer {
  height: 100%;
  width: 90%;
  border-radius: 1rem;
  margin: 0rem auto 2rem;
}
.imgContainer img {
  max-height: 100vh;
  border-radius: 1.25rem;
  object-fit: cover;
  object-position: top;
}
.img2Container img {
  max-height: auto;
  border-radius: 1.25rem;
  object-fit: cover;
  object-position: top;
  width: 500px;
}
/* Welcome Section */
.welcomeSection {
  position: relative;
  height: 60vh;
}
.backgroundImage {
  background-image: url("../../../images/tsg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(0.1rem);
}
.welcomeContent {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.welcomeContent h1 {
  font-size: 3rem;
  font-weight: bolder;
}
@media screen and (max-width: 900px) {
  .img2Container img {
    max-height: auto;
    border-radius: 1.25rem;
    object-fit: cover;
    object-position: top;
    width: 450px;
  }
}
@media screen and (max-width: 464px) {
.img2Container img {
  max-height: auto;
  border-radius: 1.25rem;
  object-fit: cover;
  object-position: top;
  width: 280px;
}
}