.parentDiv{
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  gap: 24px;
  max-width: 1200px;
}
.heading{
  font-size: 1.5rem;
  color: #f1c40f;
  text-align: center;
  font-weight: 600;
}
.contactDiv{
  display:flex;
  gap:24px;
  margin:0 auto;
}
.imageDiv{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:28px 32px;
  gap:24px;
  border-radius:20px;
  background-color:#2a2b2f;
}
.img{
width:100px;
height:100px;
border-radius:50%;
border:2px solid white;
transition: all 0.3s;
}
.img:hover{
  transform: scale(1.05);
}
.span{
color:white;
font-size:18px;
}
.div{
display:flex;
gap:4px;
color:white;
}
.Link{
color:white;
font-size: 20px;
transition: all 0.3s;
}
.Link:hover{
color:#f1c40f;
}
.btnDiv{
  text-align:center;
}
.btn{
  padding:12px 16px;
  border-radius:6px;
  border:1px solid ;
  background-color:#f1c40f;
  color:black;
  font-weight:600;
  transition: all 0.3s;
  text-align:right;
}
.btn:hover{
  background-color:#ffcc0092;
}