* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.resultsSection {
  display: flex;
  max-height: 88vh;
  min-height: 88vh;
  width: 100%;
  margin-top: 12vh;
}

.content {
  color: white;
  padding: 2rem;
  flex-grow: 1;
  min-width: 80%;
  max-width: 100%;
  max-height: 90vh;
  overflow-y: scroll;
}
