* {
  padding: 0;
  margin: 0;
}

.arrowButton {
  position: absolute;
  top: 50%;
  background-color: #f1c40f;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 10000;
}
.arrowButton.right {
  transition: 0.3s;
  right: -30%;
}
.arrowButton.left {
  transition: 0.3s;
  right: -8%;
}

.arrowButton i {
  transition: 0.3s;
  color: black;
  font-weight: 800;
  font-size: 2rem;
}
.sidebar {
  position: relative;
  background-color: rgba(70, 69, 69, 0.9);
  min-width: 5%;
  max-width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease-in-out;
  padding: 2rem 0rem;
  max-height: 90vh;
}
.sidebar li {
  transition: 0.2s;
  display: none;
}
.sidebar.active {
  min-width: 20%;
  max-width: 25%;
  overflow-y: scroll;
}
.sidebar.active li {
  transition: 0.2s;
  width: 90%;
  padding: 0rem;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.sidebarItem {
  width: 100%;
  margin: auto;
  color: white;
  transition: 0.2s;
  font-size: 1rem;
  max-width: 100%;
  padding: 1.25rem 1rem;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 2px solid #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.sidebarItem:hover {
  background-position: 0;
}

.navItem .acitveLink {
  background-color: #f1c40f;
  color: blue;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .sidebar {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    max-width: 1200px;
  }
  .sidebar.active {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    max-width: 1200px;
  }
  .sidebar li {
    width: 100%;
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar.active li {
    width: 100%;
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a.sidebarItem {
    display: block;
    min-height: 100%;
    width: 100%;
    margin: 0;
  }
  .arrowButton {
    display: none;
  }
}
