* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
footer {
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}
.footerContainer {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 42.5vh;
  max-height: 45vh;
}
.tsgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  border-right: 3px dashed grey;
}
.imgContainer {
  height: 40%;
  margin-bottom: 0.5rem;
}
.imgContainer img {
  object-fit: cover;
}
.tsgContainer .tsgDescription {
  color: white;
}
.tsgContainer .tsgDescription .tsgHeading {
  font-size: 1.25rem;
}
.tsgContainer .tsgDescription .address {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.iconsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0rem 20%;
  justify-content: space-around;
}
.iconsContainer a {
  color: #fff;
  font-size: 1.5rem;
}
.iconsContainer a:hover {
  transition: ease-out 0.5s;
  color: #f1c40f;
}
.linksContainer {
  flex-grow: 2;
  padding: 0rem 3rem;
  display: flex;
  align-items: flex-start;
  border-right: 3px dashed grey;
}
.linksContainer .linkGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 50%;
}
/* .linkGroup:first-of-type {
  margin-right: 2rem;
} */
.linksContainer .linkGroup h2 {
  font-weight: 500;
  color: white;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid grey;
  margin-bottom: 0.5rem;
}
.linkGroup .links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.linksContainer .linkGroup ul li {
  text-align: center;
  border-bottom: 1.5px dotted grey;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.25rem;
  margin-right: 0rem;
}
.linksContainer .linkGroup ul li a {
  padding: 0;
  text-transform: capitalize;
  font-size: 0.75rem;
}
.linksContainer .linkGroup ul li a:hover {
  color: #f1c40f;
  font-weight: 500;
}
.contactSection {
  padding-left: 3rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
.contactSection span:first-of-type {
  font-size: 2.5rem;
  color: #fff;
}
.contactSection span:last-of-type {
  font-size: 2rem;
  color: #f1c40f;
  margin-bottom: 1rem;
}
.contactButton {
  width: 100%;
  color: white;
  transition: 0.2s;
  font-size: 1rem;
  max-width: 100%;
  padding: 1.25rem 1rem;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 2px solid #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.contactButton:hover {
  background-position: 0;
}
@media screen and (min-width: 1400px) {
  .linksContainer .linkGroup h2 {
    font-size: 1.75rem;
  }
  .linksContainer .linkGroup ul li a {
    font-size: 1.25rem;
  }
}

@media screen and (max-width : 768px){
  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  
  .footerContainer {
    height: auto;
    flex-direction: column;
  }
  .tsgContainer {
    width: 100%;
    border-right: none;
    border-bottom: 3px dashed grey;
  }
  .tsgContainer .tsgDescription .tsgHeading {
    text-align: center;
    font-size: 2rem;
  }
  .tsgContainer .tsgDescription .address {
    font-size: 1.25rem;
  }
  .iconsContainer {
    width: 60%;
    margin-bottom: 2rem;
  }
  .iconsContainer a {
    font-size: 1.5rem;
  }
  .linksContainer {
    padding: 0rem;
    border-bottom: 3px dashed grey;
    margin-right: 0rem;
    padding-bottom: 1rem;
    border-right: none;
  }
  .linkGroup {
    width: 100%;
    margin-top: 2rem;
  }
  .linkGroup:first-of-type {
    margin-right: 0rem;
  }
  .contactSection {
    margin-top: 1rem;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .contactButton {
    width: 40%;
    margin: auto;
  }
  .contactSection span:last-of-type {
    margin-bottom: 1rem;
  }
  .contactSection button {
    margin-bottom: 1rem;
  }
}
