* {
  padding: 0;
  margin: 0;
}
.sidebar {
  padding: 2rem 0rem;
  width: 15%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: 0.2s;
  transition: 0.2s;
}
.itemlist {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  padding: 0rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2rem);
  box-shadow: 0 0rem 1rem 0 rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2rem);
  border: 1px solid rgba(0, 0, 0, 0.18);
  transition: 0.2s;
}

.active {
  color: white;
  background-color: black;
}
.sidebar ul li {
  width: 100%;
  padding: 0rem auto;
  text-align: center;
  margin-right: 0;
}
a.sidebarItem {
  color: black;
  transition: 0.2s;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.25rem;
  margin-right: 0rem;

  max-width: 90%;
  padding: 1.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
  text-decoration: none;
}
.sidebarItem:hover {
  color: rgba(0, 0, 0, 0.5);
}
