.electionsContainer {
  margin-top: 14vh;
  min-height: 80vh;
  font-family: "Lato";
}
.electionsContainer p {
  letter-spacing: 1.5px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
  line-height: 125%;
  font-family: "Lato";
  margin: 2rem 0rem;
}
.electionBody {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2rem;
}
.electionBody > h5 {
  color: #f1c40f;
  font-weight: 300;
}
.electionBody button {
  font-size: 1rem;
  border: 1px solid;
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 200ms ease-in-out;
}
.electionBody button a {
  color: inherit;
}
.electionBody button:hover {
  color: #000;
  background-position: 0;
}
.buttonGroup {
  display: inline-block;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
