.highlight {
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0;
}

.highlightHeadingContainer {
    padding: 10px 0;
}

.highlightHeadingContainer h1 {
    margin: 0rem;
}

.highlightBody {
    padding: 0px 0px;
}

.highlightBody p {
    margin: 10px 0;
}

.highlightBody .highlightDescription {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.highlightFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.highlightFooterContactCard {
}
