name: Build and Deploy
on:
  push:
    branches: [ "main" ]

jobs:
  invoke-cicd-pipeline:
    name: Calls cicd pipeline endpoint
    runs-on: ubuntu-latest
    steps:
      - name: Curl Command
        env: 
          AUTH_TOKEN: ${{ secrets.CICD_AUTH_TOKEN }}
        run: curl "http://tsg-cicd.iitkgp.ac.in/tsg-site-frontend/$AUTH_TOKEN"
